{{template "before.html" .}}
<div class="page">
  <h1>404 Not Found</h1>
  <img src="{{ImagePath "kitty.png"}}" class="mcenter" alt="Sad kitty">
  <h5>Every time you get a 404, a kitten cries. You should probably click on some links. If this URL was supposed to work, maybe you could let me know about it.</h5>
  <script type="text/javascript">
    //<![CDATA[
      var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));
    //]]>
  </script>
  <script type="text/javascript">
    //<![CDATA[
      var r7x3p9 = new WufooForm();
      r7x3p9.initialize({
        userName: "darkhelmetlive",
        formHash: "r7x3p9",
        autoResize: true,
        height: "494"
      });
      r7x3p9.display();
    //]]>
  </script>
</div>
{{template "after.html" .}}
