{{template "before.html" .}}
{{range $category, $posts  := .grouped}}
    <section>
        <h1><a href="{{CategoryPath $category}}">{{$category | Titleize}}</a></h1>
        {{range $posts}}
            <article class="main">
                <h4 class="archive_title">
                    <a href="{{PostCanonical . | CanonicalUrl}}" rel="bookmark">{{.Title}}</a>
                </h4>
            </article>
        {{end}}
    </section>
{{end}}
{{template "App/archive_links.html" .}}
{{template "after.html" .}}
