{{`<?xml version="1.0" encoding="UTF-8"?>` | Safe }}
{{`<?xml-stylesheet type="text/xsl"` | Safe }} href="{{CanonicalUrl "/sitemap.xsl"}}"?>
<urlset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd" xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <url>
        <loc>{{CanonicalUrl "/"}}</loc>
        <lastmod>{{with $post := index .Post 0}}{{.PublishedOn | ISO8601 }}{{end}}</lastmod>
        <changefreq>weekly</changefreq>
        <priority>0.5</priority>
    </url>
    {{range .Post}}
        <url>
            <loc>{{.Canonical | CanonicalUrl}}</loc>
            <lastmod>{{.UpdatedAt | ISO8601}}</lastmod>
            <changefreq>monthly</changefreq>
            <priority>1.0</priority>
        </url>
    {{end}}
</urlset>
