<h1 id="title"><a href="/">{{.SiteTitle}}</a></h1>
<p id="tagline"><em>{{.SiteDescription}}</em></p>
<section id="where">
  <a href="http://twitter.com/darkhelmetlive" title="Follow me on Twitter" icon="T" class="icon">T</a>
  <a href="https://plus.google.com/+DanielHuckstep?rel=author" title="Add me to a Circle on Google+" icon="+" class="icon">+</a>
  <a href="skype:darkhelmetlive?call" title="Call on me! Call me! Call on me! Call me...on Skype" icon="S" class="icon">S</a>
  <a href="https://github.com/darkhelmet" title="My codez on teh Githubz" icon="G" class="icon">G</a>
  <a href="http://instagram.com/darkhelmetlive" title="Follow me on Instagram" icon="I" class="icon">I</a>
  <a href="http://www.flickr.com/photos/darkhelmetlive/" title="My pictures on Flickr" icon="F" class="icon">F</a>
  <a href="/feed" title="Get new articles in your RSS reader" icon="R" class="icon">R</a>
</section>
<nav>
  <ul>
    {{range .PageLinks}}
      {{if .Header}}
        <li><a href="{{.Path}}" class="icon-b" icon="{{.Icon}}">{{.Name}}</a></li>
      {{end}}
    {{end}}
  </ul>
</nav>
